* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	line-height: 200%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

header {
	width: 780px;
	margin: 0 auto;
	padding: 3em 0 1em 0;
}

.content {
	width: 780px;
	margin: 0 auto;
	padding-bottom: 3em;
}

.nav {
	width: 780px;
	margin: 0 auto;
	padding-bottom: 2em;
}
.nav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 1em;
}

a {
	color: #00cccc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #00aacc;
}

.date {
	color: #666666;
}
.title {
	padding-bottom: 0.5em;
}
.article {
	padding-bottom: 2em;
}

.content ul {
	padding: 1em 0 1em 2em;
	list-style-type: lower-alpha;
}

blockquote {
	margin: 1em 0 1em 1em;
	padding-left: 1em;
	border-left: 1px solid #666666;
	font-size: 1.4em;
}

.footer {
	width: 780px;
	padding: 3em 0 3em 0;
	color: #666666;
	margin: 0 auto;
	font-size: 11px;
}

.article-list ul {
	padding: 0;
}
.article-list ul li {
	list-style-type: none;
}
.article-list ul li p {
	display: inline;
}
.article-list ul li .date {
	padding-right: 2em;
}
